@import "./_variables.scss";

.page-container {
  padding: 3rem;
}
h1 {
  font-size: 3em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1em;
}
.y_spacing_one_em {
  padding: 1rem 0;
}
.nav--current {
  background-color: $color-primary-blue-dark;
}
.color__text--primary {
  color: $color-primary-blue-light;
}
.center_text {
  display: flex;
  align-items: center;
}
.letter__spacing--small {
  letter-spacing: 0.2rem;
}

.p {
  &--medium {
    font-size: 1.5rem;
  }
  &--small {
    font-size: 1rem;
  }
  &--bol {
    font-weight: bold;
  }
  &--wight500 {
    font-weight: 500;
  }
}
.background__color {
  &--white {
    background-color: white;
  }
  &--primary {
    background-color: $color-primary-blue;
  }
}
.font__color {
  &--white {
    color: white;
  }
  &--primary {
    color: $color-primary-blue-light;
  }
}
.nav_link {
  text-decoration: none;
  font-size: 1.5em;
  width: 100%;
  height: 100%;
  text-align: center;
  background: white;
  transition: all 0.5s;
  &:hover {
    background: radial-gradient(
      $color-primary-blue-light,
      $color-primary-blue-dark
    );
    color: white;
  }
}
