$color-primary-blue-dark: rgb(2, 49, 95);
$color-primary-blue: rgb(2, 59, 117);
$color-primary-blue-light: rgb(3, 76, 148);

$color-primary-green-dark: rgb(0, 154, 0);
$color-primary-green: rgb(0, 179, 0);
$color-primary-green-light: rgb(0, 205, 0);

$color-text-light: white;