$color-primary-blue-dark: rgb(0, 64, 128);
$color-primary-blue: rgb(0, 77, 153);
$color-primary-blue-light: rgb(0, 89, 179);

$color-primary-green-dark: rgb(0, 154, 0);
$color-primary-green: rgb(0, 179, 0);
$color-primary-green-light: rgb(0, 205, 0);

$color-text-light: white;

$search-book-container-width: 20vw;

.nav--link {
  text-decoration: none;
  font-size: 1.5rem;
  letter-spacing: 0.5rem;
  color: $color-text-light;
}
.page-container {
  padding: 3rem;
}
h1 {
  font-size: 3em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1em;
}
.y_spacing_one_em {
  padding: 1rem 0;
}
.nav--current {
  background-color: $color-primary-blue-dark;
}
.color__text--primary {
  color: $color-primary-blue-light;
}
.center_text {
  display: flex;
  align-items: center;
}
.letter__spacing--small {
  letter-spacing: 0.2rem;
}

.p {
  &--medium {
    font-size: 1.5rem;
  }
  &--small {
    font-size: 1rem;
  }
  &--bol {
    font-weight: bold;
  }
  &--wight500 {
    font-weight: 500;
  }
}
