$color-primary-blue-dark: rgb(0, 64, 128);
$color-primary-blue: rgb(0, 77, 153);
$color-primary-blue-light: rgb(0, 89, 179);

$color-primary-green-dark: rgb(0, 154, 0);
$color-primary-green: rgb(0,179,0);
$color-primary-green-light: rgb(0,205,0);
