@import "../../sass/base/_base.scss";
.nav_item {
  flex: 1;
  text-decoration: none;

  letter-spacing: 0.5rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
