@import "../../sass/base/_base.scss";
.search_input {
  margin: 0 5rem;
  height: 3rem;
  width: 20%;
  font-size: 1.5rem;
  background: url("../../assets/images/search.png") white no-repeat scroll;
  background-size: 3rem;
  background-position: 100%;
  padding-left: 30px;
  border-style: none;
  border-radius: 4px;
  &:focus {
    outline: $color-primary-blue-dark;
  }
}
