@import "../../sass/base/_base.scss";
.search-page {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  font-size: 2rem;
  text-align: center;
}
