@import "../../sass/base/_base.scss";
.search_book_card {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 90%;
  width: 13%;
  border-radius: 2%;

  transition: transform 0.2s;
  &:hover {
    transform: scale(115%);
  }
  &:active {
    transform: scale(110%);
  }
}

.image_style {
  width: max-content;
}
.card--info {
  padding-top: 1rem;
}
